@model DietAnalyzer.Models.Domains.Diet
@using DietAnalyzer.Models.Domains;
@using System.Web;

<h5 class="d-flex justify-content-center font-weight-bold"> @Model.Name</h5>

@foreach (var evaluation in Model.Summary)
{
    @switch (evaluation.Level)
    {
        case Level.Unrated:
            <div class="row m-0 p-2 evaluationRow">
                <div class="d-flex col-3 col-xl-1 p-0 justify-content-end my-auto font-weight-bold" 
                     style="overflow-wrap:break-word;">
                    @evaluation.NutrientName
                </div>
                <div class="d-flex col-1 col-sm-1 col-xl-1 mx-3 p-0 justify-content-start my-auto">
                    @String.Format("{0:0.}", evaluation.Value)@evaluation.Unit
                </div>
                <div class="d-flex col-6 col-sm-8 col-xl-9 ml-2 p-0 justify-content-start my-auto"
                     style="display: inline-block !important;">
                    @Html.Raw(@evaluation.Suggestions)
                </div>
            </div>
            break;
        case Level.Normal:
        <div class="row m-0 p-2 evaluationRow green-bg">
            <div class="d-flex col-3 col-xl-1 p-0 justify-content-end my-auto font-weight-bold"
                 style="overflow-wrap:break-word;">
                @evaluation.NutrientName
            </div>
            <div class="d-flex col-1 col-sm-1 col-xl-1 mx-3 p-0 justify-content-start my-auto">
                @String.Format("{0:0.}", evaluation.Value)@evaluation.Unit
            </div>
            <div class="d-flex col-6 col-sm-8 col-xl-9 ml-2 p-0 justify-content-start my-auto"
                 style="display: inline-block !important;">
                @Html.Raw(@evaluation.Suggestions)
            </div>
        </div>
            break;
        default:
            <div class="row m-0 p-2 evaluationRow red-bg">
                <div class="d-flex col-3 col-xl-1 p-0 justify-content-end my-auto font-weight-bold"
                     style="overflow-wrap:break-word;">
                    @evaluation.NutrientName
                </div>
                <div class="d-flex col-1 col-sm-1 col-xl-1 mx-3 p-0 justify-content-start my-auto">
                    @String.Format("{0:0.}", evaluation.Value)@evaluation.Unit
                </div>
                <div class="d-flex col-6 col-sm-8 col-xl-9 ml-2 p-0 justify-content-start my-auto"
                     style="display: inline-block !important;">
                    @Html.Raw(@evaluation.Suggestions)
                </div>
            </div>
            break;
    }
}
<br />
<p>
    RDI = Reference Daily Intake <br /><br />
    Remember: this is not medical advice. Various circumstances, such as pregnancy, breastfeeding, young or old age, certain medical conditions, taking drugs or supplements or even your personal gene variants may influence your actual daily needs. When in doubt, always seek assistance from a medical professional. 
</p>

