@model DietAnalyzer.Models.ViewModels.DietItemRowViewModel
@*
    helper view to dynamically update table in the view
    see also: https://stackoverflow.com/questions/36317362/how-to-add-an-item-to-a-list-in-a-viewmodel-using-razor-and-net-core
*@

<tr>
    <td class="col-2 ml-0 pl-0">
        <input data-val="true" data-val-required="The DietId field is required." id="DietItems_@(Model.Index)__DietId" name="DietItems[@(Model.Index)].DietId" type="hidden" value="@(Model.DietId)">
        <input data-val="true" data-val-required="The FoodItemId field is required." id="DietItems_@(Model.Index)__FoodItemId" name="DietItems[@(Model.Index)].FoodItemId" type="hidden" value="@(Model.FoodItemId)">
        <input data-val="true" data-val-maxlength="The field Name must be a string or array type with a maximum length of '50'." data-val-maxlength-max="50" data-val-required="The Name field is required." id="DietItems_@(Model.Index)__FoodItem_Name" name="DietItems[@(Model.Index)].FoodItem.Name" type="hidden" value="@(Model.FoodItemName)">
        <div class="text-center pt-0" style="display: inline-block !important;">
            <img src="@Model.FoodItemImageUrl" />
            @(Model.FoodItemName)
        </div>
    </td>
    <td class="col-1 px-0 px-md-3">
        <input class="numeric-input" data-val="true" data-val-number="The field Quantity must be a number." data-val-required="The Quantity field is required." id="DietItems_@(Model.Index)__Quantity" name="DietItems[@(Model.Index)].Quantity" type="text" value="0">
        <span class="text-danger field-validation-valid" data-valmsg-for="DietItems[@(Model.Index)].Quantity" data-valmsg-replace="true"></span>
    </td>
    <td class="col-2 justify-content-start">
        <select class="form-control form-control-smallscreen-safe" data-val="true" data-val-required="The MeasureId field is required." id="DietItems_@(Model.Index)__MeasureId" name="DietItems[@(Model.Index)].MeasureId">
            <option value="">-- select unit --</option>
            @foreach (var measureTuple in @Model.AvailableMeasuresForThisFood)
            {
                <option value="@measureTuple.Item1">@measureTuple.Item2</option>
            }
        </select>
    </td>
    <td class="col-4 col-md-3 col-xl-2 px-0 px-md-3 offset-md-1 text-right">
        <button type="button" class="btn btn-danger btn-sm" onclick="deleteRowUpdateHTML(this, 'DietItems')">
            Delete position
        </button>
    </td>
    <td class="col-auto"></td>
</tr>
