@model DietAnalyzer.Models.ViewModels.DietViewModel

@{
    ViewBag.Title = "Edit Diet";
}

@using (Html.BeginForm("ManageDiet", "Diet", FormMethod.Post, new { id = "mainForm" }))
{
    @Html.HiddenFor(x => x.IsAdd)
    @Html.HiddenFor(x => x.PositionsToDelete)
    @Html.HiddenFor(x => x.Diet.Id)
    @Html.HiddenFor(x => x.Diet.UserId)
    @for (int i = 0; i < Model.AvailableFoods.Count; i++)
    {
        @Html.HiddenFor(x => x.AvailableFoods[i].Id)
        @Html.HiddenFor(x => x.AvailableFoods[i].Name)
        @Html.HiddenFor(x => x.AvailableFoods[i].Nutrition.Id)
    }
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="d-flex col-1 justify-content-end">
            @Html.LabelFor(x => x.Diet.Name):
        </div>
        <div class="d-flex col-8 col-md-6 col-lg-4 col-xl-3 p-0">
            @Html.TextBoxFor(x => x.Diet.Name, new { @class = "text-input-long" })
            <span asp-validation-for="@Model.Diet.Name" class="text-danger"></span>
        </div>
    </div>
    <br />
    <hr />
    <table id="Table">
        <tbody>
            @for (int i = 0; i < Model.DietItems.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(x => Model.DietItems[i].Id)
                    @Html.HiddenFor(x => Model.DietItems[i].DietId)
                    @Html.HiddenFor(x => Model.DietItems[i].FoodItemId)
                    @Html.HiddenFor(x => Model.DietItems[i].FoodItem.Name)
                    <td class="col-1 ml-0 pl-0">
                        <p class="text-center pt-3">@Model.DietItems[i].FoodItem.Name</p>
                    </td>
                    <td class="col-1 px-0 px-md-3">
                        @Html.TextBoxFor(x => Model.DietItems[i].Quantity,
                            new { @class = "numeric-input" })
                        <span asp-validation-for="@Model.DietItems[i].Quantity"
                              class="text-danger"></span>
                    </td>
                    <td class="col-2 justify-content-start">
                        @Html.DropDownListFor(x => x.DietItems[i].MeasureId,
                        new SelectList(Model.AvailableMeasuresForEachFood[i], "Item1", "Item2"),
                        "-- select unit --",
                        new { @class = "form-control form-control-smallscreen-safe" })
                        <span asp-validation-for="@Model.DietItems[i].MeasureId"
                              class="text-danger"></span>
                    </td>
                    <td class="col-4 col-md-3 col-xl-2 px-0 px-md-3 offset-md-1 text-right">
                        <button type="button" class="btn btn-danger btn-sm"
                                onclick="deleteRowUpdateHTML(this, 'DietItems')">
                            Delete position
                        </button>
                    </td>
                    <td class="col-auto"></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row mt-5">
        <div class="d-flex col-2 offset-xs-0 offset-md-1 mt-2">
            @Html.DropDownListFor(x => x.CurrentFoodId,
                        new SelectList(Model.AvailableFoods, "Id", "Name"),
                        "-- select food --",
                        new { @class = "form-control", @id = "foodDropDown" })
        </div>
        <div class="d-flex col-xs-1 col-md-2 offset-md-1 offset-lg-0 mb-2">
            <button type="button" class="btn btn-outline-primary mt-2"
                    onclick="addNewRow('AddNewPosition?index=', @Model.Diet.Id)">
                Add food
            </button>
        </div>
    </div>
    <br>
    <hr />
    <div class="row">
        <div class="d-flex col-xs-1 col-md-2 justify-content-lg-end  justify-content-xs-start">
            <button type="submit" class="btn btn-primary btn-lg mt-2">
                Save
            </button>
        </div>
        <div class="d-flex col-1 offset-md-2 offset-lg-1 justify-content-xs-end">
            <button type="button" class="btn btn-primary btn-lg mt-2"
                    onclick="location.href='@Url.Action("DietList", "Diet")'">
                Cancel
            </button>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">

        function addNewRow(urlString, dietId) {
            var fDrop = document.getElementById("foodDropDown");
            if (fDrop.options[fDrop.selectedIndex].text === "-- select food --") return;
            var foodId = fDrop.options[fDrop.selectedIndex].value;
            var rowIndex = $("#Table>tbody>tr").length;
            $.ajax({
                url: "@Url.Action("AddNewPosition", "Diet")",
                data: {
                    index: rowIndex,
                    dietId: dietId,
                    foodId: foodId
                },
                success: function (data) {
                    $('#Table > tbody').append(data);
                },
                error: function (result) {
                    JL().fatal("addNewRow (Manage Diet) - error: " + result);
                }
            });
        }
    </script>
}