@model DietAnalyzer.Models.ViewModels.RestrictionViewModel

@{
    ViewBag.Title = "My Restrictions";
}

<h3 class="mb-2">Which of the following dietary restrictions apply to you?</h3>
<br>

@using (Html.BeginForm("Manage", "Restriction", FormMethod.Post, new { id = "mainForm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.RestrictionInfo.Id)
    @Html.HiddenFor(x => x.RestrictionInfo.UserId)

    <div class="row">
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.Pescetarian)
            @Html.LabelFor(x => x.RestrictionInfo.Pescetarian)
            <span asp-validation-for="@Model.RestrictionInfo.Pescetarian" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.Paleo)
            @Html.LabelFor(x => x.RestrictionInfo.Paleo)
            <span asp-validation-for="@Model.RestrictionInfo.Paleo" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.Vegetarian)
            @Html.LabelFor(x => x.RestrictionInfo.Vegetarian)
            <span asp-validation-for="@Model.RestrictionInfo.Vegetarian" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.Keto)
            @Html.LabelFor(x => x.RestrictionInfo.Keto)
            <span asp-validation-for="@Model.RestrictionInfo.Keto" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.DairyIntolerant)
            @Html.LabelFor(x => x.RestrictionInfo.DairyIntolerant)
            <span asp-validation-for="@Model.RestrictionInfo.DairyIntolerant" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.Diabetes)
            @Html.LabelFor(x => x.RestrictionInfo.Diabetes)
            <span asp-validation-for="@Model.RestrictionInfo.Diabetes" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.Vegan)
            @Html.LabelFor(x => x.RestrictionInfo.Vegan)
            <span asp-validation-for="@Model.RestrictionInfo.Vegan" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.HeartProblems)
            @Html.LabelFor(x => x.RestrictionInfo.HeartProblems)
            <span asp-validation-for="@Model.RestrictionInfo.HeartProblems" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.GlutenIntolerant)
            @Html.LabelFor(x => x.RestrictionInfo.GlutenIntolerant)
            <span asp-validation-for="@Model.RestrictionInfo.GlutenIntolerant" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-3">
            @Html.CheckBoxFor(x => x.RestrictionInfo.KidneyProblems)
            @Html.LabelFor(x => x.RestrictionInfo.KidneyProblems)
            <span asp-validation-for="@Model.RestrictionInfo.KidneyProblems" class="text-danger"></span>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-lg mt-2">
        Save
    </button>

}
