@model DietAnalyzer.Models.ViewModels.FoodListViewModel

@{
    ViewBag.Title = "My Foods";
}

<h3 class="mb-2">Your custom foods: </h3>
<br>

<table id="foodsTable">
    <thead></thead>
    <tbody>
        @if (Model.Foods != null && Model.Foods.Any())
        {
            foreach (var food in Model.Foods)
            {
                <tr class="d-flex pt-2">
                    <td>
                        @if (food.GetImageSrc() == null){ <img src="#" class="foodImage"/> }
                        else { <img src="@food.GetImageSrc()" class="foodImage"/> }
                    </td>
                    <td style="width:200px;">
                        <a href="@Url.Action("ManageFood", "FoodItem",
                                    new { id = food.Id })"
                           class="font-weight-bold">
                            @food.Name
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="deleteFood('@food.Id', this)">
                            Delete food
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="5">
                    There are currently no foods in the database.
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<button class="btn btn-outline-primary btn-lg"
        onclick="location.href='@Url.Action("ManageFood", "FoodItem", new { id = 0 })'">
    Add new food
</button>

@section Scripts
{
    <script type="text/javascript">
        function deleteFood(id, btn) {
            if (!confirm("Are you sure you want to delete this position?")) return;
            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete", "FoodItem")",
                data: {
                    id: id
                },

                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else {
                        JL().fatal("deleteFood - failed result received");
                    }
                },
                error: function(result) {
                    JL().fatal("deleteFood - error: " + result);
                }
            });
        }
    </script>
}