@model DietAnalyzer.Models.ViewModels.MeasureViewModel

@{
    ViewBag.Title = "My Measures";
}

<h3 class="mb-2">Your custom units: </h3>
<br>

@using (Html.BeginForm("Manage", "Measure", FormMethod.Post, new { id = "mainForm" }))
{
    @Html.HiddenFor(x => x.PositionsToDelete)
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <table id="Table" class="table ml-0">
        <tbody>
            @for (int i = 0; i < Model.Measures.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(x => Model.Measures[i].Id)
                    @Html.HiddenFor(x => Model.Measures[i].UserId)
                    @Html.HiddenFor(x => Model.Measures[i].IsPubliclyKnown)
                    <td class="col-1 col-sm-1 pl-0">
                        Name&nbsp;:
                    </td>
                    <td class="col-1 unit-table-td">
                        @Html.TextBoxFor(x => Model.Measures[i].Name, new { @class = "text-input-short" })
                    </td>
                    <td class="col-2 col-sm-1 unit-table-td">
                        equal to&nbsp;:
                    </td>
                    <td class="col-1 unit-table-td">
                        @Html.TextBoxFor(x => Model.Measures[i].Grams, new { @class = "numeric-input" })
                    </td>
                    <td class="col-1 unit-table-td">
                        grams
                    </td>
                    <td class="col-2 unit-table-td">
                        <button type="button" class="btn btn-danger tn-sm"
                                onclick="deleteRowUpdateHTML(this, 'Measures', 'Table')">
                            Delete unit
                        </button>
                    </td>
                    <td class="col-4"></td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <br />
    <button type="button" class="btn btn-outline-primary btn-lg mt-2"
            onclick="addNewRow('AddNewUnit?index=','Table')">
        Add new unit
    </button>
    <br>
    <br />
    <button type="submit" class="btn btn-primary btn-lg mt-2">
        Save
    </button>
}
<footer class="customInfo">
    <div class="container mx-1 mx-lg-auto main-block">
        Here you can edit your custom units. It is more convenient to measure some foods in cups, tablespoons, etc. than in grams.
    </div>
</footer>
